
/* Reset default styles */
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Custom typography */
.thin-headings h1, 
.thin-headings h2, 
.thin-headings h3, 
.thin-headings h4 {
  font-weight: 400;
  letter-spacing: -0.02em;
}

/* Keep animation styles */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
